<section id="contact" class="contact">
  <div class="container">
    <div class="text text-center">
      <h2>Contact Me</h2>
      <div class="star">
        <i class="fa-solid fa-star"></i>
      </div>
    </div>
    <div class="form ">
        <form >
            <div class="mb-3">
                <input type="text" class="form-control" placeholder="Name">
            </div>
            <div class="mb-3">
                <input type="email" class="form-control" placeholder="Email">
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" placeholder="Phone">
            </div>
            <div class="mb-3">
                <textarea class="form-control" rows="3" placeholder="Message"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Send</button>
        </form>
    </div>
  </div>
</section>
