<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="part">
          <h4>Location</h4>
          <p>2215 John Daniel Drive Clark, MO 65243</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="part">
          <h4>Around The Web</h4>
          <ul>
            <li><i class="fa-brands fa-facebook-f"></i></li>
            <li><i class="fa-brands fa-twitter"></i></li>
            <li><i class="fa-brands fa-linkedin-in"></i></li>
            <li><i class="fa-brands fa-dribbble"></i></li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="part">
          <h4>About Freelancer</h4>
          <p>
            Freelance is a free to use, MIT licensed Bootstrap theme created by
            .
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
<p class="copyright text-center">Copyright &copy; Your Website 2025</p>
